*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #818181;
}
.slider{
    width: 1100px;
    height: 600px;
    overflow: hidden;
    border-radius: 15px;
    /* border: 10px white solid; */
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.navigation{
    position: absolute;
    top: 83.8%;
    left: 77%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    height:12px;
    width: 12px;
    margin: 6px;
    cursor: pointer;
    background-color: #71A5F1;
    border-radius: 50px;
    transition: all .4s ease;
}
.bar:hover{
    opacity: .8;
    transform: scale(1.1);
    background-color: white;
}
input[name=r]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 400%;
    height: 100%;
    display: flex;
}
.slide{
    width: 25%;
    transition: all .6s ease;
}
.slide img{
    width: 100%;
    height: 100%;
}
#r1:checked ~ .s1{
    margin-left: 0%;
}
#r2:checked ~ .s1{
    margin-left: -25%;
}
#r3:checked ~ .s1{
    margin-left: -50%;
}
#r4:checked ~ .s1{
    margin-left: -75%;
}
.slider__wrapper{
    max-width: 1100px;
}