*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #818181;
}
.slider{
    width: 1100px;
    height: 600px;
    overflow: hidden;
    border: 10px white solid;
}